{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <body class="text-center">
        <div class="container">

            <br>
            <h1>Home Page</h1>
            <br>

            <br>
            <h1>Video hosting aplication for academic usage</h1>
            <br>

            <br>
            <h1>Navigate to 'Courses' to learn more about the offer of Warsaw University of Science</h1>
            <br>

            <br>
            <h1>or</h1>
            <br>

            <br>
            <h1>Login to browse videos of lectures you are attending</h1>
            <br>

        </div>
    </body>

{% endblock %}